<html lang="en">

{{!-- document head --}}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Fun With Food</title>

  {{!-- EXTERNAL STYLESHEETS --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css" />

  {{!-- EXTERNAL FONTS --}}
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300;1,400&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap" rel="stylesheet">

  {{!-- GOOGLE SYMBOLS AND ICONS --}}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

{{!-- loads a different layout for logged_in/logged_out --}}
{{#if logged_in}}

<body>
  <header class="row">

    {{! navigation bar }}
    <a href="/" class="btn-floating homeToolTip btn-large waves-effect waves-light blue darken-3" data-position="bottom"
      data-tooltip="Home"><i class="material-symbols-rounded">cottage</i></a>

    <a href="/save" class="btn-floating logoutToolTip btn-large waves-effect waves-light blue darken-2"
      data-tooltip="Saved" data-position="bottom" id="all-dishes"><i class="material-symbols-rounded">menu_book</i></a>

    <a href="/" class="btn-floating loginToolTip btn-large waves-effect waves-light blue darken-1" data-tooltip="Logout"
      data-position="bottom" id="logout"><i class="material-symbols-rounded">logout</i></a>

    {{!-- app title and description --}}
    <div class="col s12">
      <h1 class="app-title">Fun With Food</h1>
      <h4 class="app-description">A fun and exciting way to decide what to eat!</h4>
    </div>
  </header>

  <hr>

  <main class="row" style="margin-top: 30px;">
    {{! Render sub-layout }}
    {{{body}}}
  </main>

  {{!-- app credits --}}
  <footer>
    <hr>
    <p style="text-align: center;">Created By: Zain, Tony, and Jacques</p>
    <hr>
  </footer>

  {{! if logged_in, load logout script }}
  <script src="/js/logout.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/js/materialize.js"></script>
</body>

{{!-- ** layout 2 ** (logged out) --}}
{{else}}

<body style="display:flex" class="row">
  <header class="col s7">

    {{! navigation bar }}
    <a href="/" class="btn-floating homeToolTip btn-large waves-effect waves-light blue darken-3" data-position="bottom"
      data-tooltip="Home"><i class="material-symbols-rounded">cottage</i></a>

    <a href="/" class="btn-floating logoutToolTip btn-large waves-effect waves-light blue darken-2" data-tooltip="Saved"
      data-position="bottom" id="all-dishes"><i class="material-symbols-rounded">menu_book</i></a>

    <a href="/login" class="btn-floating loginToolTip btn-large waves-effect waves-light blue darken-1"
      data-tooltip="Login" data-position="right"><i class="material-symbols-rounded">login</i></a>

    {{!-- app title and description --}}
    <h1 class="app-title">Fun With Food</h1>
    <h4 class="app-description">A fun and exciting way to decide what to eat!</h4>
    <hr>
    <img class="icon" src="/assets/toss2.png" alt="toss">

  </header>
  <main class="col s5" style="margin-top: auto; margin-bottom: auto; border-left: 2px dotted rgb(236, 236, 236); padding-left: 100px; display: flex;
  gap: 50px;">

    {{! Render sub-layout }}
    {{{body}}}
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/js/materialize.js"></script>
</body>

{{/if}}

</html>