<div class="row">
  <div class="col-md-4">
    <h3>Saved Dishes</h3>
  </div>
  <div class="col-md-4">
    <h3>Generate New Dish</h3>
    <input type="checkbox" id="has-nuts" name="has-nuts" value="nuts" />
    <label for="has-nuts">Contains Nuts</label><br />

    <input type="checkbox" id="has-meat" name="has-meat" value="meat" />
    <label for="has-meat">Contains Meat</label><br />

    <input type="checkbox" id="has-dairy" name="has-dairy" value="dairy" />
    <label for="has-dairy">Contains Dairy</label><br />

    <input type="checkbox" id="has-gluten" name="has-gluten" value="gluten" />
    <label for="has-gluten">Contains Gluten</label><br />

    <input type="checkbox" id="has-shellfish" name="has-shellfish" value="shellfish" />
    <label for="has-shellfish">Contains Shellfish</label><br />

    <input type="checkbox" id="has-soy" name="has-soy" value="soy" />
    <label for="has-soy">Contains Soy</label><br />

    <button class="btn btn-primary" type="submit">Generate</button>
  </div>
  <div class="col-md-4">
    <h3>Generated Dish</h3>
  </div>
</div>