<div class="row">
  <div class="col-md-4">
    <h3>Saved Dishes</h3>
  </div>
  <div class="col-md-4">
    <h3>Generate New Dish</h3>
    <label>
        <input type="checkbox" class="filled-in" checked="checked" />
        <span>Filled in</span>
      </label>

    <label>
        <input type="checkbox" class="filled-in" checked="checked" />
        <span>Filled in</span>
      </label>

    <label>
        <input type="checkbox" class="filled-in" checked="checked" />
        <span>Filled in</span>
      </label>

    <label>
        <input type="checkbox" class="filled-in" checked="checked" />
        <span>Filled in</span>
      </label>

    <label>
        <input type="checkbox" class="filled-in" checked="checked" />
        <span>Filled in</span>
      </label>

    <label>
        <input type="checkbox" class="filled-in" checked="checked" />
        <span>Filled in</span>
      </label>

    <button class="btn btn-primary" type="submit">Generate</button>
  </div>
  <div class="col-md-4">
    <h3>Generated Dish</h3>
  </div>
</div>