<div class="row homepage container">

  {{!-- column 1 --}}
  <div class="col s6 homepage-section z-depth-2">
    <h3 class="homepage-section-title">Generate New Dish</h3>
    <section class="generate-dish container">

      <div class="row">
        <label class="check col s4">
          <input type="checkbox" class="filled-in" id="contains_nuts">
          <span class="checkbox-text">Nuts</span>
        </label>

        <label class="check col s4">
          <input type="checkbox" class="filled-in" id="contains_meat" />
          <span class="checkbox-text">Meat</span>
        </label>

        <label class="check col s4">
          <input type="checkbox" class="filled-in" id="contains_dairy" />
          <span class="checkbox-text">Dairy</span>
        </label>
      </div>

      <div class="row">
        <label class="check col s4">
          <input type="checkbox" class="filled-in" id="contains_gluten" />
          <span class="checkbox-text">Gluten</span>
        </label>

        <label class="check col s4">
          <input type="checkbox" class="filled-in" id="contains_shellfish" />
          <span class="checkbox-text">Shellfish</span>
        </label>

        <label class="check col s4">
          <input type="checkbox" class="filled-in" id="contains_soy" />
          <span class="checkbox-text">Soy</span>
        </label>
      </div>
    </section>

    <form class="generate-btn">
      <button class="btn btn-large waves-effect waves-light homepage-button z-depth-2" type="submit"
        name="action">Submit
        <i class="material-symbols-rounded right">fastfood</i>
      </button>
    </form>
  </div>

  {{!-- divider icon --}}
  <img style="margin:auto" class="col s1 icon" src="">

  {{!-- column 2 --}}
  <div class="col s6 homepage-section z-depth-2">
    <h3 class="homepage-section-title">Generated Dish</h3>

    {{!-- <p id="dish-data" style="display:none" value={{dish.id}}></p> --}}

    <div display="none" type="text" id="dish-data" data-name="{{dish.id}}">
      </p>

      {{#if dish}}
      <div class="generated-container">
        <p class="generated-dish-title" style="font-weight: 700;">{{dish.dish_name}}</p>
        <p class="generated-dish-description">{{dish.dish_description}}</p>

        <form class="save-btn">
          <button class="btn btn-large waves-effect waves-light homepage-button z-depth-2" type="submit"
            name="action">Save
            <i class="material-icons right">favorite</i>
          </button>
        </form>
      </div>
      {{/if}}
    </div>
  </div>

  <script src="js/homepage.js"></script>