<div class="row homepage">
  <div class="col s4 homepage-section">
    <h3 class="homepage-section-title">Saved Dishes</h3>
  </div>
  <div class="col s4 homepage-section">
    <h3 class="homepage-section-title">Generate New Dish</h3>
    <section class="generate-dish">
      <div class="row">
        <label>
          <input type="checkbox" class="filled-in" id="contains_nuts" />
          <span>Contains Nuts</span>
        </label>

        <label>
          <input type="checkbox" class="filled-in" id="contains_meat" />
          <span>Contains Meat</span>
        </label>
      </div>

      <div class="row">
        <label>
          <input type="checkbox" class="filled-in" id="contains_dairy" />
          <span>Contains Dairy</span>
        </label>

        <label>
          <input type="checkbox" class="filled-in" id="contains_gluten" />
          <span>Contains Gluten</span>
        </label>
      </div>

      <div class="row">
        <label>
          <input type="checkbox" class="filled-in" id="contains_shellfish" />
          <span>Contains Shellfish</span>
        </label>

        <label>
          <input type="checkbox" class="filled-in" id="contains_soy" />
          <span>Contains Soy</span>
        </label>
      </div>
    </section>

    <form class="generate-btn">
      <button class="waves-effect waves-light btn-large" type="submit" name="action">Generate
        <i class="material-icons left">create</i>
      </button>
    </form>
  </div>
  <div class="col s4 homepage-section">
    <h3 class="homepage-section-title">Generated Dish</h3>
  </div>
</div>

<script src="./js/homepage.js"></script>
