{{!-- Dish name as link --}}
{{!-- Dish description --}}
{{!-- Dish image --}}
{{!-- Dish restrictions --}}
<ol>
  {{#each dishArray as |saved|}}
  <li>{{saved.dataValues.dish_name}}</li>
  <p>{{saved.dataValues.dish_description}}</p>
  {{/each}}
</ol>