{{!-- Dish name as link --}}
{{!-- Dish description --}}
{{!-- Dish image --}}
{{!-- Dish restrictions --}}
<ol></ol>
{{#each usersDishes as |saved|}}
    <li>{{saved.dish_name}}</li>
{{/each}}
</ol>


