{{!-- Dish name as link --}}
{{!-- Dish description --}}
{{!-- Dish image --}}
{{!-- Dish restrictions --}}
<ol>
    <li>hi</li>
    {{#each usersDishes as |saved|}}
        <li>{{saved.dish_id}}</li>
    {{/each}}
</ol>


