body {
  background-color: #ffffff;
  border: 2px dashed rgb(216, 216, 216);
  margin: 20px;
  padding: 20px;
}

.app-title {
  font-size: 120px;
  font-family: 'Libre Bodoni', serif;
  text-align: center;
}

.app-description {
  font-size: 40px;
  font-family: 'Covered By Your Grace', cursive;
  text-align: center;
}

img {
  display: block;
  margin: auto;
}

/* header {
  border-right: 7px double rgb(216, 216, 216);
} */

main {
  display: flex;
  text-align: center;
}

input::placeholder {
  text-align: center;
  color: #414141;
  font-family: 'Josefin Sans', sans-serif;
}

.input-field input[type=text] {
  text-align: center !important;
}

.input-field input[type=text]:focus,
.materialize-textarea:focus:not([readonly]) {
  border: none !important;
  box-shadow: none !important;
  background-color: #c1d8db;
  transition: ease-in-out 0.5s;
}

.input-field input[type=text],
.materialize-textarea:not([readonly]) {
  background-color: #d5e7e9;
  border: none;
  height: 4rem;
}

.generate-dish {
  margin-left: 50px;
  text-align: justify;
}

.homepage-section-title {
  text-align: center;
  font-family: 'Libre Bodoni', serif;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin: 30px;
}

.homepage-section {
  align-items: center;
  border: 3px solid rgb(236, 236, 236);
  margin-left: 50px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
}

.homepage {
  display: flex;
  gap: 30px;
}

.login-section {
  border: 2px dashed black;

}

.section-title {
  font-family: 'Libre Bodoni', serif;
  text-align: center;
  border-bottom: 1px dashed rgb(114, 114, 114);
}